.Rproj.user
.Rhistory
.RData
.Ruserdata
pubfig/supp_1deg_carbon.png
pubfig/supp_1deg_physical.png
pubfig/supp_5deg_carbon.png
pubfig/supp_5deg_physical.png
pubfig/supplementary_resolution_comparison.png
